.call-container {
    display: flex;
    background-color: #fdf7e2;
    min-height: 80px;
    width: 100%;
    border-bottom: solid 1px #e1ecf4;
    border-radius: 0.25rem;
}

.call-container .detail-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0.25rem;
    border: solid 1px #f1e5bc;
}

.call-container .detail-container p{
    padding: 0 .25rem;
}

.call-container .reason-link {
    padding: 0.5em;
    border: solid 1px #f1e5bc;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #037ecb;
    transition: 0.3s;
}
